# controller/.htaccess

# Habilitar reescritura
RewriteEngine On

# Redirigir todas las solicitudes a index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /controller/index.php [QSA,L]
