<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="login.css">
</head>
<style>
	body
	{
		background: #2b575c;
	}
</style>
<body>
<div class="header">
	<img src="../srcs/logo.jpg" width="149.4" height="106.2" alt="Invaders logo">
	<h1>Camagru</h1>
	<h2>The geeky 42 instagram.</p>
</div>
<form class="login" id="formRegister">
		<label for="inputEmail" title="User">Email:</label><br>
		<input type="email" id="inputEmail" placeholder="Email@example.fun" autocomplete="email"><br>
		<label for="inputUsername" title="User">Username:</label><br>
		<input type="text" id="inputUsername" placeholder="Username"><br>
		<label for="inputPassword" title="Password">Password:</label><br>
		<input type="password" id="inputPassword" placeholder="Password"><br>
		<label for="inputPasswordRep" title="Password">Repeat password:</label><br>
		<input type="password" id="inputPasswordRep" placeholder="Password"><br>
</form>
<div class="buttons">
	<button type="button" title="login" id="butLogin">Login</button>
	<button type="button" title="Sign up" id="butSignup">Sign up</button>
</div>
</body>
</html>
<script src="register.js"></script>